braintree==3.58.0
certifi==2019.9.11
colorama==0.4.1
comtypes==1.1.7
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
cssmin==0.2.0
docutils==0.15.2
Flask==1.0.3
Flask-Assets==2.0
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
gunicorn==19.9.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
jsmin==2.2.2
json5==0.8.5
jsonschema==3.0.2
MarkupSafe==1.1.1
numpy==1.16.5
numpydoc==0.9.1
peewee==3.13.3
psutil==5.6.3
psycopg2==2.8.5
py==1.8.0
PyJWT==1.7.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
webassets==2.0
webencodings==0.5.1
Werkzeug==1.0.1
